/* GLOBALS */

button {
  cursor: pointer;
}

.landingPage {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  color: white;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  width: 80%;
  margin: 5px auto;
  margin-bottom: 100px;
}

.headerLogo {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }

  .logo1 {
    width: 80px;
    height: 80px;
    margin-left: -10px;
  }
}

.headerList {
  width: 50%;
  height: 100%;
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    li {
      color: white;
    }
  }
}

.headerButtons {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: rgba(255, 165, 68, 255);
  background-color: transparent;
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
}

.joinBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.joinBtn:hover {
  color: #050e15;
  background-color: #cd883e;
}

/* HERO */

.heroh1 {
  font-size: clamp(30px, 5vw, 55px);
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

.heroh2 {
  font-size: clamp(20px, 3vw, 36px);
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 100;
}

.videoContainer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video {
  width: 90%;
  margin: auto;
  max-width: 900px;
  height: auto;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.15);
}

.joinBtnHeroDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: 100px;
}

.joinBtnP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  height: 100px;
  text-align: center;

  p {
    color: #9b9fa1;
    margin-left: 10px;
  }
}

.profileImg {
  height: 30px;
}

.joinBtnHero {
  border: 1px solid #ffa92e;
  color: #070e15;
  background-color: #ffa92e;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 13px;
  border-radius: 10px;
  width: 350px;
  height: 60px;
  transition: all 0.3s ease;
}

.joinBtnHero:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}

.info {
  width: 100%;
  height: 330vh;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding-left: 10px;
}

.progressBarDiv {
  position: absolute;
  top: 5%;
  left: 30px;
  width: 4px;
  height: 65%;
  background-color: #151d28;
  position: relative;
  overflow: visible;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  transition: height 0.2s ease;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
}

.progressBarAll {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #070e15;
  border-radius: 50px;
  position: relative;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  left: -28px;
}

.progressBarHalf {
  top: 50%;
}

.progressBarTop {
  top: -5%;
}

.progressBarBottom {
  top: 92%;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  overflow: hidden;
  gap: 30px;

  * {
    overflow: hidden;
  }
}

.infoContentImg {
  margin: 50px 0;
  height: 400px;
  width: auto;
  margin-left: 15%;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  transform: translateX(-10vw);
}

.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 80%;
  margin-bottom: 10px;
  height: 100px;

  h1 {
    font-size: 25px;
    text-transform: uppercase;
  }
}

.content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 80%;
  margin-bottom: -20px;

  p {
    font-size: 18px;
    color: #a7a9ac;
    width: 90%;
    line-height: 20px;

    span {
      font-weight: 900;
      color: white;
    }
  }
}

.iconDiv {
  background-color: rgb(29, 29, 29);
  border-radius: 60px;
  border: 4px solid white;
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  color: white;
}

.faCheck {
  color: #ffbb38;
  width: 30px;
  height: 30px;
  margin: 30px;
  margin-right: 20px;
}

/* FOOTER */

.stackIconDiv {
  display: none;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stackIcons {
  width: clamp(30px, 3vw, 40px);
  height: auto;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1400px) {
  .headerList {
    display: none;
  }
  .header {
    width: 100%;
    max-width: 900px;
  }
  .headerLogo {
    width: 50%;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .headerButtons {
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .joinBtnHero {
    scale: 0.8;
  }
  .joinBtnHero:hover {
    scale: 0.9;
  }
  .iconDiv {
    scale: 0.9;
  }
}

@media screen and (max-width: 800px) {
  .infoContentImg {
    scale: 0.7;
  }
}

@media screen and (max-width: 700px) {
  .iconDiv {
    scale: 0.8;
  }
  .content1 h1 {
    font-size: 20px;
  }
  .faCheck {
    width: 20px;
    height: 20px;
    margin: 25px;
    margin-right: 5px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .infoContent {
    width: 100%;
    padding: 0;
  }
  .infoContentImg {
    scale: 0.8;
  }
  .info {
    height: 270vh;
  }
  .content2 p {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .joinBtnHero:hover {
    scale: 0.8;
  }
}

@media screen and (max-width: 550px) {
  .iconDiv {
    scale: 0.7;
  }
  .content1 h1 {
    font-size: 18px;
  }
  .faCheck {
    width: 15;
    height: 15;
    margin: 20px;
    margin-right: 3px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .info {
    height: 275vh;
  }
  .thirdImage {
    transform: translateX(-190px);
  }
  .infoContentImg {
    scale: 0.7;
  }
}

@media screen and (max-width: 470px) {
  .header {
    height: 150px;
    flex-direction: column;
  }
  .headerLogo,
  .headerButtons {
    width: 100%;
    justify-content: center;
    margin: 0;
    scale: 0.9;
  }
  .progressBarAll {
    width: 50px;
    height: 50px;
    left: -23px;
  }
  .dot {
    width: 11px;
    height: 11px;
  }
  .progressBarDiv {
    width: 3px;
  }
}

@media screen and (max-width: 440px) {
  .iconDiv {
    scale: 0.7;
    margin-right: 0;
  }
  .faCheck {
    width: 15px;
    height: 15px;
    margin: 15px;
    margin-right: 0;
  }
  .infoContentImg {
    scale: 0.6;
  }
  .joinBtnHero {
    scale: 0.7;
  }
}

@media screen and (min-width: 1000px) {
  .info {
    padding-left: 30%;
  }
  .progressBarDiv {
    transform: translateX(-50px);
  }
}

@media screen and (min-width: 1400px) {
  .info {
    padding-left: 40%;
  }
  .progressBarDiv {
    transform: translateX(-150px);
  }
}
