* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #070e15;
}

.infoSmall {
  display: none;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;

  * {
    overflow: hidden;
  }

  h2 {
    color: white;
    font-size: 20px;
    width: 90%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-weight: 100;
    margin-top: 20px;
  }

  .infoHeader {
    margin: 0 0 0 5%;

    h1 {
      font-size: 26px;
    }
  }

  .accessTo {
    margin: 0 0 0 5%;

    h3 {
      font-size: 15px;
    }
  }
}

.info {
  width: 600px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #070e15;

  .logo1 {
    width: 240px;
    height: 240px;
    color: #f2ba12;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h2 {
    color: white;
    font-size: 26px;
    width: 70%;
    margin: 20px 15% 0 15%;
    line-height: 40px;
    font-weight: 600;
  }
}

.infoHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  gap: 10px;
  margin: 0 9% 0 11%;

  h1 {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.imKey {
  width: 30px;
  height: 30px;
  color: #ffbb38;
  transform: scaleX(-1);
}

.accessTo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 10px 9% 0 11%;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: -15px;

    h3 {
      color: white;
      font-size: 18px;
    }
  }
}

.check {
  color: #ffbb38;
  width: 25px;
  height: 25px;
}

.checkFeat {
  color: #ffbb38;
  width: 20px;
  height: 20px;
}

.checkout {
  min-height: 100vh;
  width: calc(100vw - 600px);
  background-color: black;
  position: absolute;
  right: 0;
  overflow-y: auto;
  padding-bottom: 130px;
}

.checkoutHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .logo2 {
    color: #f2ba12;
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 20px 20px 0;
    overflow: visible;

    h2 {
      color: white;
      text-transform: uppercase;
      margin-top: 10px;
      font-weight: 100;
    }
    h1 {
      font-size: 26px;
      color: white;
      text-transform: uppercase;
      transform: translate(-5px, 10px);
    }
  }
}

.form {
  width: 85%;
  margin: 0 5% 0 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    color: #b7b7b7;
  }
  input {
    border: 1px solid #b7b7b7;
    background-color: transparent;
    color: #b7b7b7;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 50px;
  }
  input:focus {
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white !important;
    background-color: #212839 !important;
    box-shadow: 0 0 0px 1000px #212839 inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.formHeader {
  color: #b7b7b7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;

  p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.checkMark {
  width: 30px;
  height: 30px;
}

.planOption {
  background-color: #1c1e26;
  border: 2px solid #1c1e26;
  border-radius: 20px;
  width: 85%;
  min-height: 200px;
  margin: 0 5% 15px 10%;
  padding: 20px;
  position: relative;
  transition: border 0.2s ease;

  h1 {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;

    span {
      color: #8e8f92;
      font-size: 16px;
    }
  }

  h2 {
    font-weight: 100;
    color: white;
    margin: 10px 0 0 0;
  }

  p {
    color: #babbbd;
    font-size: 14px;
  }
}

.planOption:hover {
  border: 2px solid #5d4c29;
  transition: border 0.2s ease;
}

.planOption:hover .arrow {
  color: #f2ba12;
  transform: translateX(1px);
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: white;
  rotate: -90deg;
  transition: rotate 0.2s ease;
  transition: transform 0.3s ease;
  transition: color 0.5s ease;
}

.selectedPlan {
  border: 2px solid #f2ba12;
  transform: translateY(-1px);
}

.selectedPlan:hover {
  border: 2px solid #f2ba12;
}

.selectedArrow {
  color: #f2ba12;
  rotate: 0deg;
  transition: rotate 0.2s ease;
  transform: translateX(1px);
}

.cadetItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: -15px;

  h3 {
    color: #babbbd;
    font-size: 14px;
  }
}

.paymentOpt {
  border: 1px solid #6a6a6d;
  background-color: transparent;
  color: #c7c7c7;
  border-radius: 5px;
  padding: 10px;
  width: 85%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 5px 5% 10px 10%;
  overflow: visible;
  position: relative;
  transition: all 0.3s ease;
}

.hoverPayOpt:hover {
  transform: translateY(-1px);
  color: white;
  border: 1px solid #b4b4b5;
  transition: all 0.2s ease;

  .arrowPay {
    color: #f2ba12;
  }
  .payImg {
    color: #f2ba12;
  }
}

.payImg {
  width: 30px;
  height: 30px;
  color: #c7c7c7;
}

.arrowPay {
  position: absolute;
  top: 50%;
  transform: translateX(50%);
  right: 10px;
  width: 30px;
  height: 30px;
  color: white;
  rotate: -90deg;
  transition: all 0.3s ease;
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  background-color: #353740;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #ffac39;
  font-size: 14px;
  font-weight: 900;
  transition: color 0.1s ease;
  transition: background 0.1s ease;
}

.activeTag {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  background-color: #ffac39;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #353740;
  font-size: 14px;
  font-weight: 900;
  transition: color 0.1s ease;
  transition: background 0.1s ease;
}

.disPayment {
  opacity: 50%;
  cursor: default;
}

.activePay {
  border: 1px solid #c39618;
  color: white;
  transition: all 0.3s ease;

  .arrowPay {
    color: #f2ba12;
    rotate: 0deg;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  .payImg {
    color: #f2ba12;
  }
}

.activePay:hover {
  border: 1px solid #c39618;
  transform: translateY(0);
}

.cryptoCheckout {
  h1 {
    color: white;
    font-size: 20px;
    text-align: center;
  }
}

.checkoutFooter {
  width: 90%;
  margin-left: 10%;
  margin-top: 10px;

  h1 {
    color: white;
    span {
      font-weight: 100;
    }
  }
}

.enterNow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efaf18;
  width: 85%;
  height: 70px;
  overflow: visible;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  position: relative;
  transition: box-shadow 0.1s ease;

  .enterNowImg {
    color: #06060d;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
  }

  h1 {
    color: #06060d;
    text-transform: uppercase;
    font-weight: 900;
    transform: translateX(20px);
  }
}

.terms {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 90%;
  margin: 30px 0 30px 10%;

  label {
    color: #c7c7c7;
    width: 80%;

    a {
      color: #c7c7c7;
    }
  }
}

.checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #c7c7c7;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: visible;
}

.checkbox:checked {
  background-color: #f2ba12;
  border-color: #f2ba12;
  box-shadow: inset 0 0 0 3px black;
}

.checkbox:checked::after {
  content: "✔";
  font-size: 16px;
  color: black;
  position: absolute;
  left: 5px;
  top: 2px;
  font-weight: bold;
}

.checkbox:hover {
  border-color: #f2ba12;
}

@media screen and (max-width: 1300px) {
  .info {
    width: 500px;
  }
  .checkout {
    width: calc(100vw - 500px);
  }
}

@media screen and (max-width: 1100px) {
  .info {
    display: none;
  }
  .infoSmall {
    display: flex;
  }
  .checkout {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .infoSmall .infoHeader h1 {
    font-size: 22px;
  }
  .infoSmall .accessTo h3 {
    font-size: 14px;
  }
  .infoSmall h2 {
    font-size: 14px;
  }
}
