button {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  width: 80%;
  margin: 5px 8% 0 12%;
}

.headerLogo {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }

  .logo1 {
    width: 50px;
    height: 50px;
    color: #f2ba12;
  }
}

.headerList {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    li {
      color: white;
    }
  }
}

.stackIcons {
  width: 50px;
  height: 50px;
}

.stackIconDiv {
  display: none;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  bottom: 5%;
}

.headerButtons {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: rgba(255, 165, 68, 255);
  background-color: transparent;
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
}

.joinBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.joinBtn:hover {
  color: #050e15;
  background-color: #cd883e;
}

@media screen and (max-width: 1400px) {
  .headerList {
    display: none;
  }
  .stackIcons {
    width: 40px;
    height: 40px;
  }
  .header {
    width: 100%;
    margin: 5px auto;
    max-width: 900px;
  }
  .headerLogo {
    width: 50%;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .headerButtons {
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .stackIconDiv {
    scale: 0.8;
  }
}

@media screen and (max-width: 470px) {
  .header {
    height: 150px;
    flex-direction: column;
  }
  .headerLogo, .headerButtons {
    width: 100%;
    justify-content: center;
    margin: 0;
    scale: 0.9;
  }
  .stackIconDiv {
    scale: 0.7;
  }
}