/* GLOBALS */

button {
  cursor: pointer;
}

.landingPage {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

/* .bg {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url(../assets/car.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: fixed;
} */

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  width: 80%;
  margin: 5px auto;
}

.headerLogo {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }

  .logo1 {
    width: 50px;
    height: 50px;
    color: #f2ba12;
  }
}

.headerList {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    li {
      color: white;
    }
  }
}

.headerButtons {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: rgba(255, 165, 68, 255);
  background-color: transparent;
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.loginBtn:hover {
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
}

.joinBtn {
  border: 1px solid rgba(255, 165, 68, 255);
  color: #070e15;
  background-color: rgba(255, 165, 68, 255);
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.joinBtn:hover {
  color: #050e15;
  background-color: #cd883e;
}

/* HERO */

.main {
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: Arial;
  margin-top: 90px;

  h1 {
    font-size: clamp(30px, 5vw, 55px);
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
  }
  h2 {
    font-size: clamp(20px, 3vw, 36px);
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 100;
  }
}

.videoContainer {
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 90%;
  margin: auto;
  max-width: 900px;
  height: auto;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.15);
}

.joinBtnHeroDiv {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 10px;

  p {
    color: #9b9fa1;
  }
}

.joinBtnHero {
  border: 1px solid #ffa92e;
  color: #070e15;
  background-color: #ffa92e;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 13px;
  border-radius: 10px;
  width: 350px;
  height: 60px;
  transition: all 0.3s ease;
}

.joinBtnHero:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}

/* FOOTER */

.stackIconDiv {
  display: none;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stackIcons {
  width: clamp(30px, 3vw, 40px);
  height: auto;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1400px) {
  .headerList {
    display: none;
  }
  .header {
    width: 100%;
    max-width: 900px;
  }
  .headerLogo {
    width: 50%;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .headerButtons {
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .joinBtnHero {
    scale: 0.8;
  }
  .joinBtnHero:hover {
    scale: 0.9;
  }
}

@media screen and (max-width: 600px) {
  .joinBtnHero:hover {
    scale: 0.8;
  }
}

@media screen and (max-width: 470px) {
  .header {
    height: 150px;
    flex-direction: column;
  }
  .headerLogo,
  .headerButtons {
    width: 100%;
    justify-content: center;
    margin: 0;
    scale: 0.9;
  }
}
